.side-menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.01); /* Прозрачный фон */
    pointer-events: none; /* Отключение всех кликов */
}

.side-menu {
    height: 91.5%;
    width: 20%;
    background-color: #e0f7fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    pointer-events: auto; /* Включение кликов только для меню */
    overflow-y: auto; /* Добавление вертикальной прокрутки */
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 130px; 
    font-size: 16px;
    color: #1f78b3;
    font-weight: bold;
}

.side-menu li {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
}

.side-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.side-menu .linkActive{
    text-shadow: 0 0 10px #fa5555, 0 0 20px #fa5555, 0 0 30px #fa5555;
}